@font-face {
	font-family: bigNoodle;
	src: url("big-noodle.ttf");
}

@font-face {
	font-family: flexDisplay;
	src: url("basic-title.ttf");
}

html {
	font-family: bigNoodle;
	background-color: #3d3d3d;
}

body {
	margin: 0px;
}

#title {
	font-size: 20vh;
	color: #97be0d;
	text-align: center;
	margin: 0;
}

#subtitle {
	font-family: flexDisplay;
	font-size: 4vh;
	color: #dddddd;
	text-align: center;
	margin: 0;
	padding: 5px;
}

.center {
	position: absolute;
	width: 100%;
	margin: 0 auto;
	bottom: 50%;
	text-align: center;
}

#videos {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	display: -webkit-box;
	-webkit-box-align: center;
	-webkit-box-pack: center;
}

.video {
	height: 55vh;
	padding: 2vh;
}